*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: ghostwhite;
}
   
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    background-color: #b0e0e6;
    padding: 10px 20px;
}

.logo{
    font-size: 2em;
    color: #0b0b0b;
    user-select: none;
    text-align: left;
}

.navigation a{
    position: relative;
    font-size: 1.1em;
    color: #111010;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}
.navigation a:hover:after{
    transform-origin: left;
    transform: scaleX(1);
}
.navigation .btnlogin-popup{
  width: 150px;
  height: 50px;
  background: transparent;
  border: 2px solid #0d0808;
  outline: none;
  border-radius:16px;
  cursor: pointer;
  font-size: 1.1em;
  color: #0a0a0a;
  font-weight: 500;
  margin-left: 30px;
  transition: .5s;
}

.navigation .btnlogin-popup:hover {
  background: #fff;
  color: #162938;
}


.wrapper{
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0,0,0, .5 );
    display: flex;
    justify-content: center;
    align-items: center;

}

.wrapper .form-box{
    width: 100%;
    padding: 40px;
}

.form-box h2{
    font-size: 2em;
    color: hsl(202, 39%, 19%);
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 3px;
}
body {
    background-color: mintcream;
    overflow: hidden;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    background-color: #72cbf1;
    border-radius: 4px;
    padding: 5px;
 }

  .imgs {
    position: absolute;
    
  }
  
  .mySlides {
    display: none;
  }
  
  
  img {
    vertical-align: middle;
    
  }
  
  .slideshow-container {
    max-width: 5000px;
    position: relative;
    margin: auto;
  }
  
.container{
  background: rgb(249, 243, 243);
  padding:100px;
  border-radius: 8px;
  margin: auto;

}
  
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  
  
  
  
  